<?xml version='1.0' encoding='UTF-8'?>
<org.terracotta.jenkins.plugins.postcompleted.PostCompletedRunListener_-DescriptorImpl plugin="post-completed-build-result@1.1">
  <urlToSubmitTo>http://{{ cascade_host }}/jenkins</urlToSubmitTo>
</org.terracotta.jenkins.plugins.postcompleted.PostCompletedRunListener_-DescriptorImpl>